[advice]
    detachedHead = false
[alias]
    patch = !git --no-pager diff --no-color
[commit]
    gpgSign = false
[core]
    editor = vim
    pager = delta
#   pager = diff-so-fancy | less --tabs=4 -RFX
[delta]
    max-line-distance = 1.0
    max-line-length = 0
[diff-so-fancy]
    markEmptyLines = false
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[gpg]
    format = ssh
    program = gpg2
[init]
    defaultBranch = main
[log]
    date = iso-strict
    showSignature = false
[merge]
    tool = vimdiff
[pull]
    ff = only
[receive]
    denyCurrentBranch = updateInstead
[tag]
    gpgSign = true
[user]
    email = contact@ankitpati.in
    name = Ankit Pati
    signingKey = ~/.ssh/id_ed25519.pub
