[user]
    name = Ankit Pati
    email = contact@ankitpati.in
    signingkey = B8BBCEBCBD6C4BF0599C40F9360A96429F7A69DC
[commit]
    gpgsign = false
[core]
    editor = vim
#   pager = diff-so-fancy | less --tabs=4 -RFX
    pager = delta
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[difftool]
    prompt = false
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[gpg]
    program = gpg2
[log]
    showSignature = false
[alias]
    patch = !git --no-pager diff --no-color
[diff-so-fancy]
    markEmptyLines = false
[advice]
    detachedHead = false
[pull]
    rebase = true
[receive]
    denyCurrentBranch = updateInstead
