[client]
host=localhost
user=root
password=password

[clientsakila]
host=localhost
user=sakila
password=password
database=sakila

[clientremote]
host=host.tld
port=9306
user=user
password=password
database=database
ssl=true
skip-auto-rehash
