{
    "tabWidth": 4,
    "jsxBracketSameLine": true,
    "arrowParens": "avoid",
    "proseWrap": "always",
    "vueIndentScriptAndStyle": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": [
                "*.yml",
                "*.yaml"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
